* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1b1b32;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #1b1b32;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #1b1b77;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #1b1b55;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: #1b1b99;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .input-section {
        flex-direction: column;
    }

    input {
        width: 100%;
        margin-bottom: 10px;
    }

    ul {
        padding-left: 0;
    }

    li {
        flex-direction: column;
        text-align: left;
    }

    li div {
        margin-top: 10px;
    }

    .filter-section {
        flex-direction: column;
    }

    .filter-btn {
        margin-bottom: 5px;
    }
}